<div class="row">
	<div class="col-md-12">
		<h1>Posts</h1>
		<form ng-submit="p.send()" class="form-inline">
			<div class="form-group">
				<label>Message</label>
				<input ng-model="p.msg" autocomplete="off" class="form-control" />
			</div>
			<button class="btn btn-default">Send</button>
		</form>
		<br />
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Body</th>
					<th>By</th>
					<th>Created</th>
			</thead>
			<tbody>
				<tr ng-repeat="post in p.posts">
					<td style="width:65%;">{{post.body}}</td>
					<td style="width:15%;">{{post.User.fullname}}</td>
					<td style="width:20%;">{{post.created_at}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
